<html>
<title>
    Admin
</title>

<body>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="/public/javascript/addArtical.js" type="text/javascript"></script>
    <div id="pa"></div>
    <form id="form">
        Category :<input type="text" name="category"></input>
        <br> Title :<input type="text" name="title"></input>
        <br> Author :<input type="text" name="author"></input>
        <br> Date :<input type="text" name="date"></input>
        <br> Content :<input type="text" name="content"></input><br>
    </form>
    <button id="btn"> OK</button>
    <p>

    </p>

</body>

</html>