doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='css/nivo-slider.css', type='text/css', media='screen')
    link(rel='stylesheet', href='css/default/default.css', type='text/css', media='screen')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js', type='text/javascript')
    script(src='jquery.nivo.slider.pack.js', type='text/javascript')
    //if lt IE 9
      script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
    title Source X SRT
  body#home
    #wrapper
      // __--__--__--__--__--  L O G O  &   N A V    B A R --__--___--__--__--__
      header
        #logo
          h1
            | Source X 
            span#iisrt
              span#ii II
              span#srt SRT
          #tagline
            h2 Just another Geeksband Template !
        nav
          ul
            li
              a#homenav(href='index.html') Home
            li
              a#blognav(href='blog.html') Blog
            li
              a#fullwidthnav(href='fullwidth.html') Full width
            li
              a(href='contact.html') Contact
            li
              a(href='#') About
      // __--__--__--__--  T H E    S L I D E R --__--__--__--___--__--__--__
      .slider-wrapper.theme-default
        #slider.nivoSlider
          img(src='images/slide1.jpg', alt='')
          a(href='http://geeksband.com')
            img(src='images/slide2.jpg', alt='', title='This is an example of a caption with a link')
          img(src='images/slide3.jpg', alt='', title='This is an example of a caption')
          img(src='images/slide4.jpg', alt='')
      script(type='text/javascript').
        $(window).load(function() {
        $('#slider').nivoSlider({pauseTime: 6000,});
        });
      // __--__--__--__--  M A I N   C O N T E N T  --__--__--__--___--__--__
      section
        #line
          .dline
          h1 Our Services
          .dline
        #ourserv
          article
            h1 Web Design
            img(src='images/1.jpg', alt='')
            p
              | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet.
            a.rm(href='fullwidth.html') Read More
          article
            h1 Graphic Design
            img(src='images/2.jpg', alt='')
            p
              | Consectetuer adipiscing elit. Suspendisse enim elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit.
            a.rm(href='fullwidth.html') Read More
          article.lastarticle
            h1 Web Development
            img(src='images/3.jpg', alt='')
            p
              | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit enim.
            a.rm(href='fullwidth.html') Read More
        #sline
          .sdline
          h1 Latest Projects
          .sdline
        #latestp
          article
            h1 Lorem Ipsum Dolor Sit
            img(src='images/1s.jpg', alt='')
            p
              | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque.
            a.rm(href='singlepost.html') Read More
          article
            h1 Lorem Ipsum Dolor Sit
            img(src='images/2s.jpg', alt='')
            p
              | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque.
            a.rm(href='singlepost.html') Read More
          article
            h1 Lorem Ipsum Dolor Sit
            img(src='images/3s.jpg', alt='')
            p
              | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque.
            a.rm(href='singlepost.html') Read More
          article.lastarticle
            h1 Lorem Ipsum Dolor Sit
            img(src='images/4s.jpg', alt='')
            p
              | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque.
            a.rm(href='singlepost.html') Read More
      // __--__--__--__--  T H E    F O O T E R --__--__--__--___--__--__--__
      footer
        p
          | Copyright &copy 2013 Source X by Youssef Nassim and Zakariya Lhamri, design from 
          a(href='http://geeksband.com') Geeksband.com
          | . All Rights Reserved.

